table{
    background-color: #0a9cce;
    border-collapse: separate;
    border-top: 5px solid #f0f0f0;
    border-left: 5px solid #f0f0f0;
    border-right: 5px solid gray;
    border-bottom: 5px solid gray;
}

th {
    background-color: #003333;
    color: #c5f8c6;
    border: 0.5px solid white;
}

td {
    background-color: #ccffcc;
    border: 0.5px solid white;
}

.verde {
    background-color: #99cc99 !important;
}

.centrado {
    text-align: center;
}
